@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --bg-primary: #F5F5F5;
    --bg-secondary: #FFFFFF;
    --text-primary: #333333;
    --text-secondary: #666666;
    --accent-like: #34C759;
    --accent-dislike: #FF3B30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: var(--bg-primary);
    color: var(--text-primary);
    line-height: 1.6;
    background-image: 
        radial-gradient(#CCCCCC 8%, transparent 8%),
        radial-gradient(#CCCCCC 8%, transparent 8%);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}

.sneaker-card {
    background: var(--bg-secondary);
    border-radius: 15px;
    /* width: 1000px;          Fixed width for card */
    /* height: 400px;         Fixed height for card */
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1200px;  
    margin: 50px auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sneaker-image {
    /* object-fit: contain;   Maintain aspect ratio without stretching */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sneaker-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    text-align: center;
    background: #FCFBF4
}

.sneaker-desc {
    font-size: 0.1rem;
    font-style: italic;
    color: #6c757d; /* Matches Bootstrap's muted text color */
}


.sneaker-info h2 {
    margin-bottom: 15px;
    color: var(--text-primary);
    font-size: 1.8rem;
}

.sneaker-info p {
    color: var(--text-secondary);
    font-size: 1.4rem;
    margin-bottom: 30px;
}



.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action-buttons button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action-buttons button.like {
    background-color: var(--accent-like);
    color: white;
}

.action-buttons button.dislike {
    background-color: var(--accent-dislike);
    color: white;
}

.action-buttons button:hover {
    transform: scale(1.1);
}

#notification {
    position: fixed;
    top: 20px;
    right: -300px;
    background: #34C759;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    transition: right 0.3s ease;
}

#notification.show {
    right: 20px;
}