body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

#sneaker-card {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
}

#sneaker-image {
    width: 300px;   /* Adjust the width as needed */
    height: 300px;  /* Adjust the height as needed */
    object-fit: contain;  /* Ensure the image doesn't stretch */
    margin-bottom: 15px;
}

#sneaker-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#sneaker-price {
    color: #555;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}
