<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Shoes Store</title>
</head>

<body>
    <!-- Navigation Bar -->
    <!-- Main Section -->
    <section>
        <div class="content">
            <div class="main-content">
                <h1 data-aos="fade-right" data-aos-duration="2000">Sneakerदर्ज़ी</h1>
                <h2 data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200">Left swipe regret, right swipe drip</h2> 
                <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-delay="400"></h4>
                <p data-aos="flip-down" data-aos-duration="2000" data-aos-delay="600">
                  The ultimate sneaker matchmaker for true sneakerheads! Discover the latest drops, swipe through curated styles, and find your perfect pair with ease. Whether you're after classics or hype releases, SneakerDarzi ensures you never miss a match. Because great sneakers deserve the perfect owner. 
                </p>
                <div class="order">
                    <a href="/login"><button data-aos="zoom-in-left" data-aos-duration="2000" data-aos-delay="800">Login</button></a>
                    <a href="/trending"><button data-aos="zoom-in-left" data-aos-duration="2000" data-aos-delay="800">Hot Ones Around</button></a>
                </div>
            </div>
            <div class="image">
                <img src="static/img/shoes.png" alt="Nike Shoes" data-aos="zoom-in" data-aos-duration="2000">
            </div>
        </div>
    </section>

    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 1
        });
    </script>
</body>

<a href="https://madewithloveinindia.org" target="_blank" class="made-in-india">
   Made with <span aria-label="Love"> &hearts; </span>  in India
</a>


</html>

<!-- Solemate toh milna hi tha -->